<% include ./partial/header %><% include ./partial/hodfunction %>
<div
  class="col-sm-6"
  style="    flex: 0 0 50%;
    max-width: 60%;
    margin-left: 431px;
    margin-top: 181px; 
    text-align: -webkit-center;"
>
<img src="https://i.imgur.com/u5NDYGJ.png" width="600" height="250">
  <form action="/hod/<%=hod.id%>/leave/<%=student.id%>/info" method="POST">
    <div class="container-fluid bg-3 text-center">
      <br />
      <div class="row">
        
        <%student.leaves.forEach(function(leave){%>
          <% if(leave.status == "pending") {%> 
        <div class="col-sm-12" style="width: 100%">
          <h3><strong> Reason:</strong> <span style="color: white;"><%=leave.subject %></span></h3>
          <h3>Duration : <%=moment(leave.from).format('DD/MM/YYYY') %> - <%=moment(leave.to).format('DD/MM/YYYY') %></h3>
          <h3>No Of Days : <%=leave.days%></h3>
          <div style="display: flex;flex-direction: row; justify-content: space-between;
              justify-content: center;
              align-items: center;
              margin: auto;
          " class="col-sm-6">
            <input
              type="submit"
              class="btn btn-block btn-success"
              name="action"
              value="Approve"
            />
            <input
            style="margin-top: 0; margin-left: 3vw;"
              type="submit"
              class="btn btn-block btn-danger"
              name="action"
              value="Deny"
            />
          </div>
        </div>
        <% } %> 
        <%})%>
      </div>
    </div>
  </form>
  <% include ./partial/footer %>
</div>
